version: '2'

services:

  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    # volumes:
    #   - .:/app
    environment:
      - AD_HOST=connect-dev-api.tideanalytics.com
      - AD_KEY=DuS6YR9aCMJc0345mPNAkAIzaSyCChtVm4UlxD4
      - DEBUG=portal:*
      - MONGO_HOST=192.168.0.132
      - MONGO_PORT=27017
      - MONGO_DATABASE=radius
      - NODE_ENV=staging
      - PORT=3000

  # database:
  #   ports:
  #     - "27017:27017"
  #   image: mongo:3.4