version: '2'

services:

  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:3000"
    # volumes:
    #   - .:/app
    environment:
      - AD_HOST=manager-api-dev.tideanalytics.com
      - AD_KEY=DuS6YR9aCMJc0345mPNAkAIzaSyCChtVm4UlxD4
      - DEBUG=*
      - MONGO=localhost:27017/radius-dev
      - NODE_ENV=development
      - PORT=3000

  # database:
  #   ports:
  #     - "27017:27017"
  #   image: mongo:3.4