extends layout

append css
  style.
    .header {
      background-color: #FAF6F7;
    }
    .padded {
      padding-left: 30px;
      padding-right: 30px;
    }

block content

  br

  h1 Error #{error.status}

  div= error.message

  if error.stack
    br
    br
    div.padded
      div.text-left Debug Stack:
      pre.text-left= error.stack
