extends layout

block content
    h1
        | Welcome to
        br
        | ACE Guest WiFi

block footer
    a.btn.btn-lg.btn-primary(href='#') Sign up
    | &nbsp; &nbsp; &nbsp;
    a.btn.btn-lg.btn-default(href=loginurl) Log in
    br
    br
    p
        | Powered by&nbsp;
        a(href='#') ACE-Tech Solutions Sdn. Bhd.
