extends layout

append css
    link(rel='stylesheet', href='/css/impression.css')

block content
    a(href=asset.url)
        img#img(src=asset.img)
    p
        | Click 
        a(href=asset.url) here
        | &nbsp;to continue surfing the web