.debug {
    border: 1px solid black;
}
.debugr {
    border: 1px solid red;
}
.debugg {
    border: 1px solid green;
}
.debugb {
    border: 1px solid blue;
}
.debugw {
    border: 1px solid white;
}

html, body {
    height: 100%;
    background-color: #FFF;
}

body {
    color: #333;
    text-align: center;
}

form {
    margin: auto;
    max-width: 300px;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    /* For at least Firefox */
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.content-wrapper {
    margin: auto;
}

.content-wrapper-inner {
    margin: auto;
    max-width: 300px;
}

.form-group {
    margin-bottom: 6px;
}

#message {
    font-size: 1.1em;
    font-weight: bold;
    color: #060;
}

#error {
    font-size: 1.1em;
    font-weight: bold;
    color: #600;
}

#logo {
    max-width: 95%;
    max-height: 80vh;
}

#slogan {
    margin-top: 10px;
    font-size: 1.15em;
}

#impression-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 95%;
    max-height: 80vh;
}