/**
 * Defaults
 */

.debug {
  border: 1px solid red;
}

html,
body {
  height: 100%;
  text-align: center;
  font-family: 'Metropolis Regular';
  font-family: 'Metropolis Light';
}

button.btn,
a.btn {
  width: 80vw;
  height: 40px;
  line-height: 40px;
  padding: 0px;
}


/**
 * Headers
 */

.header {
  height: 70px;
  max-width: 100%;
  line-height: 70px;
  border: 0px;
  margin-bottom: 0px;
}

.header img {
  max-height: 70px;
  max-width: 100%;
  object-fit: contain;
}


/**
 * Content
 */

.content {
  height: calc(100vh - 70px);
  background-color: #FAF6F7;
  text-align: center;
}

.content .alert {
  position: absolute;
  margin-top: 20px;
  left: 10vw;
  right: 10vw;
}

.content .img-full-page {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/**
 * Footer
 */

.footer .shadow {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /* For browsers that do not support gradients */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)); /* Standard syntax */
  padding-top: 30px;
}

.footer .margin-bottom {
  margin-bottom: 25px;
}

.footer .link {
  color: #FFF;
  /*line-height: 40px;*/
  margin-bottom: 20px;
}

.footer .link a {
  color: #FFF;
}
