#logo {
    max-width: 95%;
    max-height: 80vh;
}

#slogan {
    margin-top: 10px;
    font-size: 1.15em;
}

#login-form {
    margin: 35px auto auto auto;
    max-width: 300px;
}

.form-group {
    margin-bottom: 6px;
}

.error {
    color: #DD1111;
}