extends ../layout

append css
  style.
    @media (max-width: 991px) {
      .img-announcement {
        content: url('#{announcements.sm}');
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .img-announcement {
        content: url('#{announcements.md}');
      }
    }
    @media (min-width: 1200px) {
      .img-announcement {
        content: url('#{announcements.lg}');
      }
    }

block content
  img.img-announcement

block footer
  a.btn.btn-primary(href=buttonUrl) CONNECT